<% if @items.empty? %>
  <li class='list'>
    <%= link_to '#' do %>
       ...

        <div class='item-info'>
           ...

            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
    <% end %>
  </li>
<% end %>